<nav class="navbar navbar-expand-sm  bg-dark  ">
    <!-- <a class="navbar-brand" href="#">NAVBAR</a> -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
           
              <li class="nav-item">
                <a class="nav-link" routerLink="Home" routerLinkActive="active" id='homeTest'>HOME </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="products" routerLinkActive="active">PRODUCTS </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active">ABOUT </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="newprd" routerLinkActive="active">NEW PRODUCT </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile/profile" routerLinkActive="active">MY PROFILE</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/profile/editprofile" routerLinkActive="active">EDIT PROFILE</a>
              </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DROPDOWN</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">LOG-IN</a>
            </li>
        </ul>
    </div>
</nav>
