 <br><br>
   <!-- <a class="btn btn-primary" [routerLink]="['/newprd']" role="button">Add Product</a>  -->
<br><br>
<!-- <table class="table table-bordered">
  <thead>
    <tr class="bg-dark text-white">
      <th>ID</th>
      <th>Name</th>
      <th>Availble quantity</th>
      <th>Price</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prd of prdlist">
      <td>{{prd.id}}</td>
      <td>{{prd.name}}</td>
      <td>{{prd.quantity}}</td>
      <td>{{prd.price}}</td>
      <td><a [routerLink]="['/products/', prd.id]" class="btn btn-primary">View details</a></td>
    </tr>
  </tbody>
</table> 
 -->



<h1 class="text-center">WELCOME IN OUR PROJECT</h1>

<div class="item mt-5">
    <div class="inner">
    <img src="assets/image/13561069-0005-4487-bc0a-1385f2dde696 (1).jfif" alt="">
    <h3>A7MD MO ORABY</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus.</p>
</div>
  </div>

<div class="item mt-5">
<div class="inner">
<img src="assets/image/da0a938a-431f-4967-923c-131000e01b50.jfif" alt="">
<h3>A7MD MO ORABY</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus.</p>
</div>
</div>

<div class="item mt-5">
<div class="inner">
<img src="assets/image/765ed2cf-7cd9-44e1-a266-b291aa1a9586.jfif" alt="">
<h3>A7MD MO ORABY</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus.</p>
</div>
</div>

<div class="item mt-5">
<div class="inner">
<img src="assets/image/b84243e9-02a7-4fe8-9364-f3ece6a763e5.jfif" alt="">
<h3>A7MD MO ORABY</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus.</p>
</div>
</div>

<div class="item mt-5">
<div class="inner">
<img src="assets/image/8a664f95-bbb5-4999-922e-24d146141cf4.jfif" alt="">
<h3>A7MD MO ORABY</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus.</p>
</div>
</div> 

<div class="clr1"></div>

<header id ="o" class="vh-100 d-flex align-items-center">
    
   <div class="headercon text-white pl-md-5 m-auto">
    <img src="assets/image/images (22).jfif "class ="w-25 "/>
    <img src="assets/image/images (21).jfif "class ="w-25"/>
    <img src="assets/image/images (22).jfif "class ="w-25"/>
    <img src="assets/image/images (21).jfif "class ="w-25"/>

    <h1 class="py-5">WEB DESIGN AND DEVELOBMENT</h1>
    <p>FULL STACK DEVELOBER</p>
    
    <div class="social d-flex">

       <div class=" icon m-2 d-flex justify-content-center align-items-center">
        <i class=" fab fa-twitter"></i>
       </div>
       <div class=" icon m-2 d-flex justify-content-center align-items-center">
        <i class=" fab fa-instagram"></i>
       </div>
       <div class=" icon m-2 d-flex justify-content-center align-items-center">
        <i class=" fab fa-facebook-f"></i>
       </div>
       <div class=" icon m-2 d-flex justify-content-center align-items-center">
        <i class=" fab fa-youtube"></i>
       </div>
    </div>
    <a  class = "col" href="#">VIEW PORTFOLIO</a>
  </div>
</header> 

  <section id ="t" class="bg-in" id ="pro">
    <div class="container py-5 text-center">
     <div class="row">

       <div class="col-md-3">
         <img src="assets/image/k.jpg" class=" mb-4 w-100 rounded-circle" alt="3rb">
         <h3>NAME :</h3>
         <p>A7MED MO ORABII</p>
         <h3>PHONE :</h3>
         <p>01205082343</p>
         <h3>ADRESS :</h3>
         <p>BANI SUEF</p>
       </div> 
       <div class="col-md-9">
          <h2>I'M A7MED 3URABII FULL STACK DEVELOBER</h2>
          <p class="lead ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quaerat et necessitatibus molestias consectetur consequatur.</p>
          <div class="row">
             <div class="col-md-4">
              <i class="fab fa-grav fa-3x mb-2"></i>
              <h3>GRADUATION</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>

             </div>
             <div class="col-md-4">
              <i class="fab fa-grav fa-3x mb-2"></i>
              <h3>GRADUATION</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>
              
             </div>
             <div class="col-md-4">
              <i class="fab fa-grav fa-3x mb-2"></i>
              <h3>GRADUATION</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, quisquam quas delectus officiis voluptate hic adipisci quam rem in officia?</p>
              
             </div>
          </div>
       </div>
     </div>
    </div>
 </section>
 
 <section id ="th" class="bg-w" id="about" class="py-5 text-center text-white">
  <div class="title text-center position-relative d-flex justify-content-center align-items-center">
  <h2 class="mb-0">A7MD 3URABII</h2>
  <h3 class=" position-absolute mb-0 ">A7MD 3URABII</h3> 
  </div>
  <p class="lead  text-center mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, in.</p>
  <div class="container text-center ">
     <div class="row">
        <div class="col-md-4">
           <img src="assets/image/download (5).jfif" class="w-100 vh-100" alt="">
        </div>
        <div class="col-md-7 offset-md-1 d-flex align-items-center text-left">
           <div class="co">
              <h4>AHMED ORABY</h4>
           <p class="lead ">FULL STACK DEVELOBER</p>
           <p class="lead ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium praesentium, ex itaque assumenda mollitia debitis obcaecati doloribus ab atque cum aperiam ut libero dicta impedit officia expedita ratione voluptatibus nihil, illo dolore. Voluptate ex perspiciatis facilis impedit laboriosam magni aliquid, doloribus consequatur nihil ratione quibusdam cum harum explicabo, odio sit?</p>
           </div>
        </div>
     </div>
  </div>
</section>




