
    
    <div class="main m-auto text-center h">
       
       <div class="container d-flex align-items-center justify-content-center m-auto  pt-">
           <div class="row col-lg-12">
              <div class="pi">
               <img src="image/b84243e9-02a7-4fe8-9364-f3ece6a763e5.jfif" class="mb-4 mt-2" alt="">
               <h2 class="mb-4">CONTACT US</h2>
              
              </div>
           <button type="button" class="btn btn-light m-auto mb-5  w-100 btn-outline-danger">
               <a href="https://www.linkedin.com/in/ahmed-oraby-508bb9198" target="_blank">LINKED IN</a>
           </button>
            <button type="button" class="btn btn-secondary m-auto mb-5  w-100 btn-outline-dark">
               <a href="https://www.facebook.com/profile.php?id=100053084689854"target="_blank">FACE BOOK</a>
            </button>
            <button type="button" class="btn btn-success m-auto mb-5  w-100 btn-outline-info">
               <a href="https://twitter.com/AMoraby3?s=09"target="_blank">TWITTER</a>
            </button>
            <button type="button" class="btn btn-danger m-auto mb-5  w-100 btn-outline-light">
               <a href="https://www.instagram.com/invites/contact/?i=aikb3c2yuoal&utm_content=7izyo7w"target="_blank">INSTGRAM</a>
            </button>
            <button type="button" class="btn btn-warning m-auto mb-5  w-100 btn-outline-primary">
               <a href="https://api.whatsapp.com/send?phone=201205082343"target="_blank">WHATSAPP</a>
            </button>
<!--             
            <button type="button" class="btn btn-dark m-auto mb-4  w-100 btn-outline-secondary">
               <a href="https://a7mad3urabii.netlify.app/">WEBSITE</a>
            </button> -->
            <h1 class="mb-4">@a7mad3urabii</h1>
           </div>
          </div>
    </div>
   
   

